@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}
/* Footer */
.Footer {
  margin-top: 20px;
  background-color: #666;
  color: white;
  text-align: center;
  padding: 10px;
}

/* BACK TO TOP */
.ScrollToTop {
  position: relative;
  left: 50%;
  margin-left: -50px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.5;
  text-align: center;
  writing-mode: vertical-rl;
  white-space: nowrap;
  display: block;
  animation: ease-in 3s;
  background-color: #cccccc;
  padding: 10px;
  border-radius: 25px;
}

.ScrollToTop:hover {
  opacity: 1;
  animation: wiggle 1s ease;
  animation-iteration-count: 1;
}

@keyframes wiggle {
  20% {
    transform: translateY(6px);
  }
  40% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
